*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profileMain{
    padding-left: 0;
    height: 77.3vh;
    width: 100vw;
    position: fixed;
    top:90px;
    left: 0;
    padding: 0 1em;
    background-color: thistle;
}
